/* @import url('http://fonts.cdnfonts.com/css/gilroy-bold?styles=20876,20877,20878,20879,20880');
 @import url('http://db.onlinewebfonts.com/c/55d433372d270829c51e2577a78ef12d?family=Monument+Extended');
@import url('http://db.onlinewebfonts.com/c/1dc8ecd8056a5ea7aa7de1db42b5b639?family=Gilroy'); */

@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: bold;
	src: url("../font/Gilroy-Bold.woff") format('woff');
}


@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: bolder;
	src: url("../font/Gilroy-Heavy.woff") format('woff');
}


@font-face {
	font-family: 'Gilroy-Light';
	font-style: normal;
	font-weight: lighter;
	src: url("../font/Gilroy-Light.woff") format('woff');
}


@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 500;
	src: url("../font/Gilroy-Medium.woff") format('woff');
}


@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: normal;
	src: url('../font/Gilroy-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Monument Extended';
	font-style: normal;
	font-weight: normal;
	src: url("../font/Monument\ Extended.woff") format('woff');
}


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

header {
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%), #EBF3FF;
	padding-bottom: 90px;
}


.header {
	background-color: white;
	box-shadow: 0px 4px 30px 5px rgba(0, 0, 0, 0.04);
	position: relative;
	z-index: 2;
}

header .header-div {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 72px;
}

header .header-div .header-menu ul {
	display: flex;
	align-items: center;
	list-style: none;
}

header .header-div .header-menu ul li {
	margin-right: 82px;
}

header .header-div .header-menu ul li:last-child {
	margin-right: 0;
}

header .header-div .header-menu ul li span {
	font-family: 'Gilroy', sans-serif;
	font-weight: bold;
	color: #363636;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.065em;
	cursor: pointer;
}

/* Info Section */
.info-section {
	position:fixed;
	top: 110px;
	right: 0;
	z-index: 50;
}

.info-section .info-card {
	display: flex;
	gap: 30px;
	align-items: center;
	background-color: #458bec;
	color: white;
	padding: 1rem;
    font-family: 'Poppins', sans-serif;
	font-weight: 600;
	opacity: 0.9;
}

.info-section .info-card svg, .info-section .info-card div{
	cursor: pointer;
}

.mobile-menu {
	display: none;
}

/* jumbotron */
.jumbotron {
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: flex-end;
}



.jumbotron .text-1 {
	font-family: 'Gilroy', sans-serif;
	font-weight: bold;
	color: #363636;
	letter-spacing: 0.065em;
	font-size: 16px;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	margin-bottom: 16px;
}

.jumbotron .text-1>span {
	margin-left: 12px;
}

.jumbotron .text-2 {
	font-family: 'Monument Extended', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 49px;
	letter-spacing: -0.02em;
	color: #000000;
	margin-bottom: 16px;
}

.jumbotron .text-2 span {
	color: #458bec
}

.jumbotron .text-3 {
	font-family: 'Gilroy', sans-serif;
	font-size: 18px;
	line-height: 151.7%;
	letter-spacing: -0.02em;
	color: #363636;
	margin-bottom: 60px;
}

.join-slack-button {
	display: inline-flex;
	width: 320px;
	height: 60px;
	box-shadow: 0px 4px 20px 10px rgba(0, 0, 0, 0.05);
	cursor: pointer;
}

.join-slack-button .join-slack-button-div1 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	font-family: 'Gilroy', sans-serif;
	font-size: 18px;
	line-height: 150.7%;
	text-align: center;
	letter-spacing: -0.01em;
	background: #4588EC;
	color: #FFFFFF;
}

.join-slack-button .join-slack-button-div2 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	background: #165EC9;
}

.jumbotron .jumbotron-div1 .circle-down {
	margin-top: 52px;
}

.jumbotron .jumbotron-div1 .circle-down  svg {
	cursor: pointer;
}

.jumbotron .jumbotron-div2 {
	text-align: right;
	padding-top: 48px;
}

.header-carousel-icon {
	text-align: center;
	transform: translateY(-50%);
}

.header-carousel-icon svg {
	cursor: pointer;
}


.available-courses {
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 1000%), rgba(253, 217, 97, 0.14);
	height: 512px;
	position: relative;
	/* background-color: green; */
}

.available-courses>div {
	position: absolute;
	top: 124px;
	width: 100%;
}

.available-courses h2.pricing {
	text-transform: uppercase;
	font-family: 'Gilroy', sans-serif;
	font-weight: bold;
	font-size: 16px;
	line-height: 155.47%;
	text-align: center;
	letter-spacing: 0.065em;
	color: #363636;
	position: relative;
}

.available-courses h2.pricing::before {
	content: "";
	height: 2px;
	width: 80px;
	background-color: #f1f1f1;
	position: absolute;
	top: 50%;
	transform: translateX(-112px) translateY(-50%);
}

.available-courses h2.pricing::after {
	content: "";
	height: 2px;
	width: 80px;
	background-color: #f1f1f1;
	position: absolute;
	top: 50%;
	transform: translateX(32px) translateY(-50%);
}


.available-courses h4 {
	font-family: 'Monument Extended', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 101.1%;
	text-align: center;
	letter-spacing: -0.02em;
	color: #4588EC;
	margin-top: 4px;
}


.available-courses .pricing-div {
	max-width: 1260px;
	background: #FFFFFF;
	border: 1px solid #F1F1F1;
	border-radius: 20px;
	margin: 0 auto;
	margin-top: 80px;
	position: relative;
	padding: 120px 52px 100px 52px;
	min-height: 470px;
}


.available-courses .pricing-div .sql-or-excel {
	display: grid;
	grid-template-columns: 1fr 1fr;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	background: #F7FAFF;
	border: 1px solid #F1F1F1;
	box-sizing: border-box;
	border-radius: 16px;
	padding: 6px;
}

.available-courses .pricing-div .sql-or-excel>svg {
	bottom: 0;
	left: 50%;
	transform: translateX(-50%) translateY(100%);
	position: absolute;
}

.available-courses .pricing-div .sql-or-excel>div {
	border-radius: 10px;
	height: 72px;
	width: 252px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.available-courses .pricing-div .sql-or-excel>div span {
	font-family: 'Monument Extended', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	letter-spacing: -0.02em;
	color: #AFAFAF;
	margin-left: 8px;
}

.available-courses .pricing-div .sql-or-excel>div.active {
	background-color: white;
	border: 1px solid #EFEFEF;
	box-shadow: 0px 4px 15px 6px rgba(0, 0, 0, 0.05);
	cursor: auto;
}

.available-courses .pricing-div .sql-or-excel>div.active span {
	color: #000000;
}

.available-courses .pricing-div .prices {
	align-items: start;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 28px;
}

.available-courses .pricing-div .excel-prices {
	align-items: start;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 28px;
	width:90%;
	margin: 0 auto;
}

.available-courses .pricing-div .prices > div, .available-courses .pricing-div .excel-prices > div {
	padding: 48px 36px;
	background: #FFFFFF;
	border: 1px solid #E2E2E2;
	border-radius: 10px;
	position: relative;
}

.available-courses .pricing-div .prices .plan-name  , .available-courses .pricing-div .excel-prices .plan-name {
	font-family: 'Gilroy', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 155.47%;
	letter-spacing: 0.065em;
	color: #AEAEAE;
}

.available-courses .pricing-div .prices .plan-price, .available-courses .pricing-div .excel-prices .plan-price {
	font-family: 'Monument Extended', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 101.1%;
	letter-spacing: -0.02em;
	color: #4588EC;
}

.available-courses .pricing-div .prices .plan-description, .available-courses .pricing-div .excel-prices .plan-description {
	margin-top: 18px;
	/* font-family: 'Gilroy-Regular', sans-serif; */
	font-family: 'Gilroy', sans-serif;
	font-size: 16px;
	line-height: 151.7%;
	letter-spacing: -0.02em;
	color: #646464;
}

.available-courses .pricing-div .excel-prices .price-plan-2 .plan-description{
	width:60%;
}

.available-courses .pricing-div .prices .plan-banner, .available-courses .pricing-div .excel-prices .plan-banner {
	font-family: 'Monument Extended', sans-serif;
	font-size: 48px;
	position: absolute;
	bottom: 36px;
	color: rgba(69, 136, 236, 0.1);
}
.available-courses .pricing-div .prices .start-here, .available-courses .pricing-div .excel-prices .start-here {
	display: none;
	opacity: 0;
	text-decoration: none;
	cursor: pointer;
}

.available-courses .pricing-div .prices .start-here-div , .available-courses .pricing-div .excel-prices .start-here-div{
	display: inline-flex;
	height: 50px;
	width: 200px;
	box-shadow: 0px 4px 20px 10px rgba(0, 0, 0, 0.05);
	margin-top: 16px;
}

.available-courses .pricing-div .prices .start-here-div-div1,  .available-courses .pricing-div .excel-prices .start-here-div-div1{
	text-transform: uppercase;
	background: #FDD961;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Gilroy', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 150.7%;
	letter-spacing: -0.01em;
	color: #000000;
	flex-grow: 1;
}

.available-courses .pricing-div .prices .start-here-div-div2, .available-courses .pricing-div .excel-prices .start-here-div-div2 {
	flex-basis: 50px;
	background: #ECBA13;
	display: flex;
	justify-content: center;
	align-items: center;
}

.available-courses .pricing-div .prices>div:hover,  .available-courses .pricing-div .excel-prices>div:hover {
	background: #4588EC;
	transition: all 1s ease;
}

.available-courses .pricing-div .prices>div:hover .plan-name , .available-courses .pricing-div .excel-prices>div:hover .plan-name{
	color: #BDD8FF;
	transition: all 1s ease;
}

.available-courses .pricing-div .prices>div:hover .plan-price, .available-courses .pricing-div .excel-prices>div:hover .plan-price {
	color: #FFFFFF;
	transition: all 1s ease;
}

.available-courses .pricing-div .prices>div:hover .plan-description, .available-courses .pricing-div .excel-prices>div:hover .plan-description {
	color: #FFFFFF;
	transition: all 1s ease;
}

.available-courses .pricing-div .prices>div:hover .plan-time , .available-courses .pricing-div .excel-prices>div:hover .plan-time{
	color: #FFFFFF;
	transition: all 1s ease;
}

.available-courses .pricing-div .prices>div:hover .plan-banner, .available-courses .pricing-div .excel-prices>div:hover .plan-banner {
	color: rgba(255, 255, 255, 0.1);
	bottom: calc(50px + 16px + 36px);
}

.available-courses .pricing-div .prices>div:hover  .start-here, .available-courses .pricing-div .excel-prices>div:hover  .start-here{
	display: inline;
	opacity: 1;
	transition: opacity 1s ease;
}

.available-courses .coming-soon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.available-courses .coming-soon h4 {
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 101.1%;
	margin-top: 28px;
	text-align: center;
	letter-spacing: -0.02em;

	color: #000000;
}

.available-courses .coming-soon p {
	margin-top: 16px;
	margin-bottom: 16px;
	font-family: 'Gilroy', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 151.7%;
	text-align: center;
	letter-spacing: -0.02em;
	color: #AFAFAF;
}

/* join our slack and fireside-chat */
.join-our-slack, .fireside-chat {
	padding-bottom: 120px;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%), rgba(235, 243, 255, 0.5);
	padding-top: 352px;
}


 .join-our-slack-grid {
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.join-our-slack-grid-div1 {
	padding-right: 108px;
}

 .join-our-slack-text {
	margin-top: 48px;
}

 .join-our-slack-grid .join-our-slack-text span {
	text-transform: uppercase;
	display: block;
	text-align: right;
	position: relative;
	font-family: 'Gilroy', sans-serif;
	font-weight: bold;
	font-size: 16px;
	line-height: 155.47%;
	letter-spacing: 0.065em;
	color: #363636;
}

.join-our-slack-grid .join-our-slack-text span::before {
	content: "";
	height: 2px;
	width: 80%;
	background-color: #F1F1F1;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

.join-our-slack-grid .join-our-slack-text h4 {
	margin-top: 4px;
	font-family: 'Monument Extended', sans-serif;
	text-transform: capitalize;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 101.1%;
	letter-spacing: -0.02em;
	color: #4588EC;
}

.join-our-slack-grid .join-our-slack-text p {
	margin-top: 28px;
	margin-bottom: 32px;
	font-family: 'Gilroy', sans-serif;
	font-size: 18px;
	line-height: 151.7%;
	letter-spacing: -0.02em;
	color: #363636;
}

/* Contact Us */
.contact-us{
	height: 70vh;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	box-shadow: 0px 4px 30px 5px rgba(0, 0, 0, 0.04);
}

.contact-us .contact-us-grid .contact-us-heading{
	font-family: 'Monument Extended', sans-serif;
	line-height: 101.1%;
	text-align: center;
    letter-spacing: -0.02em;
    color: #4588EC;
	font-style: normal;
    font-weight: normal;
    font-size: 36px;
}

.contact-us .contact-us-grid .contact-us-buttons{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 3rem auto;
}

.contact-us .contact-us-grid .contact-us-buttons .contact-us-email, .contact-us-whatsapp{
	display: inline-flex;
	margin: 1rem;
	min-width: 300px;
	white-space: nowrap;
	box-shadow: 0px 4px 20px 10px rgb(0 0 0 / 5%);
	cursor: pointer;
	text-decoration: none;
}

.contact-us .contact-us-grid .contact-us-buttons .contact-us-email .contact-us-email-div1, .contact-us-whatsapp-div1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
    line-height: 150.7%;
    text-align: center;
    letter-spacing: -0.01em;
    background: #4588EC;
    color: #FFFFFF;
	padding: 1rem 2rem;
	text-decoration: none;
}

.contact-us .contact-us-grid .contact-us-buttons .contact-us-email .contact-us-email-div2, .contact-us-whatsapp-div2{
	display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    background: #165EC9;
}

/* .about-us-and-testimonials */
.about-us-and-testimonials {
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%), rgba(253, 217, 97, 0.14);
	padding-bottom: 172px;
}

/* .about-us */
.about-us {
	max-width: 1200px;
	margin: 0 auto;
	padding-top: 140px;
}

.about-us-grid {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
}

.about-us-grid .about-us-grid-div1 {
	margin-right: 188px;
}

.about-us-grid .about-us-grid-text span {

	text-transform: uppercase;
	display: inline-block;
	width: 200px;
	text-align: right;
	position: relative;
	font-family: 'Gilroy', sans-serif;
	font-weight: bold;
	font-size: 16px;
	line-height: 155.47%;
	letter-spacing: 0.065em;
	color: #363636;
}

.about-us-grid .about-us-grid-text span::before {
	content: "";
	height: 2px;
	width: 35%;
	background-color: #F1F1F1;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	text-transform: capitalize;
}

.about-us-grid .about-us-grid-text h4 {
	margin-top: 4px;
	font-family: 'Monument Extended', sans-serif;
	text-transform: capitalize;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 101.1%;
	letter-spacing: -0.02em;
	color: #4588EC;
}

.about-us-grid .about-us-grid-text p {
	margin-top: 28px;
	margin-bottom: 32px;
	font-family: 'Gilroy', sans-serif;
	font-size: 18px;
	line-height: 151.7%;
	letter-spacing: -0.02em;
	color: #363636;
	max-width: 500px;
}

.about-us-grid .people-trained {
	display: grid;
	grid-template-columns: 1fr ;
	gap: 60px;
	margin-bottom: 48px;
}

.about-us-grid .people-trained .main-text {
	font-family: 'Monument Extended', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 64px;
	line-height: 101.1%;
	letter-spacing: -0.02em;
	color: #3EF1A8;
	display: block;
}

.about-us-grid .people-trained .sub-text {
	font-family: 'Gilroy', sans-serif;
	font-size: 18px;
	line-height: 151.7%;
	letter-spacing: -0.02em;
	color: #363636;
}

.testimonials {
	padding-top: 64px;
	max-width: 1200px;
	margin: 0 auto;
}

.testimonials .feedback {
	text-transform: uppercase;
	font-family: 'Gilroy', sans-serif;
	font-weight: bold;
	font-size: 16px;
	line-height: 155.47%;
	text-align: center;
	letter-spacing: 0.065em;
	color: #363636;
	position: relative;
}

.testimonials .feedback::before {
	content: "";
	height: 2px;
	width: 80px;
	background-color: #f1f1f1;
	position: absolute;
	top: 50%;
	transform: translateX(-112px) translateY(-50%);
}

.testimonials .feedback::after {
	content: "";
	height: 2px;
	width: 80px;
	background-color: #f1f1f1;
	position: absolute;
	top: 50%;
	transform: translateX(32px) translateY(-50%);
}

.testimonials h4 {
	font-family: 'Monument Extended', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 101.1%;
	text-align: center;
	letter-spacing: -0.02em;
	color: #4588EC;
	margin-top: 4px;
}

.testimonials .testimonials-carousel {
	margin-top: 32px;
	position: relative;
}

.testimonials .testimonials-carousel .carousel-icon-left {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
}

.testimonials .testimonials-carousel .carousel-icon-right {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
}

.testimonials .testimonials-carousel .carousel-icon-bottom {
	position: absolute;
	left: 50%;
	transform: translateX(-50%) translateY(100%);
	bottom: -24px;
}

.testimonials .testimonial-card-section {
	max-width: 1084px;
	margin: 0 auto;
	display: flex;
	list-style: none;
}

.testimonials .swiper {
	padding: 2rem;
}

.testimonials .swiper-pagination {
	bottom: 5px !important;
}

.testimonials .swiper-button-prev, .testimonials .swiper-button-next {
	background: rgba(251, 252, 236, 0.44);
	border: 1px solid #BCBCBC;
	color: #BCBCBC;
	padding: 1rem;
	border-radius: 50%;
	top: 210px;
} 

.testimonials .swiper-button-prev::after, .testimonials .swiper-button-next::after {
	font-size: 15px!important;
}

  .swiper-wrapper {
    margin-bottom: 2rem;
	width: 360px;
  }

  @media (min-width: 860px) {
	.testimonials .swiper {
	padding: 2rem 5rem;
}
	.swiper-wrapper {
	width: 650px;
  }
  }

  @media (min-width: 650px) {
	.testimonials .swiper {
	padding: 2rem 5rem;
}
	.swiper-wrapper {
	width: 650px;
  }

  .testimonials .swiper-button-prev, .testimonials .swiper-button-next{
	top: 190px;
	background: rgba(251, 252, 236, 0.44);
	border: 1px solid #BCBCBC;
	color: #BCBCBC;
	padding: 1.5rem;
	border-radius: 50%;
  }


.testimonials .swiper-button-prev::after, .testimonials .swiper-button-next::after {
	font-size: 20px!important;
}
  }

  .swiper-pagination-bullet {
    background-color: black;
    width: 4.75px;
    height: 4.75px;
    border-radius: 7.33561px;
  }

 .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 38px!important;
	background-color: black !important;
	border-radius: 25px;
  }

  .swiper-pagination > span {
    color: black !important;
    opacity: 1;
  }

/* .testimonials .testimonial-card-section>li {
	margin-left: 30px;
	margin-right: 30px;
} */

.testimonials .testimonial-card {
	background: #FFFFFF;
	border: 1px solid #E2E2E2;
	border-radius: 16px;
	padding: 64px 52px;
	min-height: 280px;
	width: 100%;
}

.testimonials .testimonial-card .testimonial-card-text {
	font-family: 'Gilroy', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 150%;
	color: #646464;
}

.testimonials .testimonial-card .testimonail-persona {
	margin-top: 28px;
	display: flex;
	align-items: center;
}

.testimonials .testimonial-card .testimonail-persona img {
	border-radius: 50%;
	border: 5px solid rgba(255, 201, 40, 0.42);
	margin-right: 12px;
	width: 50px;
	height: 50px;
}

.testimonials .testimonial-card .testimonail-persona h6 {
	font-family: 'Monument Extended', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	color: #231F20;
}

.testimonials .testimonial-card .testimonail-persona span {
	font-family: 'Gilroy', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	color: #A19B9D;
}

.testimonials .testimonial-card:hover {
	background: #33C481;
	transition: all 1s ease;
}

.testimonials .testimonial-card:hover .testimonial-card-text {
	color : white;
	transition: all 1s ease;
}

.testimonials .testimonial-card:hover .testimonail-persona h6 {
	color : white;
	transition: all 1s ease;
}

.testimonials .testimonial-card:hover .testimonail-persona span{
	color : white;
	transition: all 1s ease;
}

/* footer */

footer {
	background: #4588EC;
}


footer .footer-div {
	margin-top: 40px;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

footer .footer-div .footer-section1 {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
}

/* footer .footer-div .footer-section1 .logo {} */

footer .footer-div .footer-section1 .socials {
	display: flex;
	margin-top: 28px;
}

footer .footer-div .footer-section1 .socials a {
	margin-left: 8px;
}

footer .footer-div .footer-section1 .socials a .email-icon {
	height: 25px;
	width: 25px;
	border-radius: 1000px;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer .footer-div .footer-section1 .socials a .email-icon .icon {
	color: #4588EC;
}

footer .footer-div .footer-section1 .socials img:first-child {
	margin-left: 0;
}

footer .footer-div .footer-section1 .footer-menu {
	display: flex;
}

footer .footer-div .footer-section1 .footer-menu ul {
	list-style: none;
	margin-left: 92px;
}

footer .footer-div .footer-section1 .footer-menu ul:first-child {
	margin-left: 0;
}

footer .footer-div .footer-section1 .footer-menu ul li:first-child {
	font-family: 'Monument Extended', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 151.7%;
	letter-spacing: -0.02em;
	color: #FFFFFF;
	margin-bottom: 12px;
}

footer .footer-div .footer-section1 .footer-menu ul li {
	margin-bottom: 8px;
	text-align: center;
}

footer .footer-div .footer-section1 .footer-menu ul li:last-child {
	margin-bottom: 0px;
}

footer .footer-div .footer-section1 .footer-menu ul li span {
	font-family: 'Gilroy', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 151.7%;
	letter-spacing: -0.02em;
	color: #DAE9FF;
	text-decoration: none;
	cursor: pointer;
}


footer .footer-div .footer-section2 {
	margin-top: 80px;
	height: 80px;
	align-items: center;
	justify-content: space-between;
	display: flex;
	border-top: solid 2px white;
}

footer .footer-div .footer-section2 .privacy-policy{
	text-decoration: none;
	color: white;
	font-family: 'Gilroy', sans-serif;
	font-size: 1rem;
	font-weight: 600;
}

footer .footer-div .footer-section2 .copyright {
	font-family: 'Gilroy', sans-serif;
	font-style: normal;
	font-size: 18px;
	line-height: 151.7%;
	letter-spacing: -0.02em;
	color: #FFFFFF;
}

footer .footer-div .footer-section2 .company-name {
	font-family: 'Gilroy', sans-serif;
	;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 151.7%;
	text-align: right;
	letter-spacing: -0.02em;
	color: #FFFFFF;
}


/* Privacy Policy*/
.privacy-policy-screen{
	background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #EBF3FF;
	min-height: 100vh;
}


.privacy-policy-header{
	padding: 1.5rem 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0px 4px 30px 5px rgb(0 0 0 / 4%);
}

.privacy-policy-header > a{
	font-family: 'Gilroy', sans-serif;
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	font-weight: 600;
    letter-spacing: 0.065em;
}

.privacy-section{
	width: 60%;
	margin: 0 auto;
	padding: 4rem 0;
	font-family: 'Gilroy', sans-serif;
}

.privacy-section .privacy-title{
	margin: 1rem 0;
}

.privacy-section .privacy-title h2{
	font-size: 1.2rem;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #4588EC;
}
.privacy-section .privacy-title p{
	font-size: .5rem;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #4588EC;
}

.privacy-section .privacy-sub-title{
	margin: 1rem 0;
	font-size: 1.2rem;
}

.privacy-section .privacy-text{
	color: #646464;
	font-size: 1rem;
	line-height: 2rem;
	text-align: justify;
}

.privacy-section .privacy-text a{
	color: #4588EC;
	text-decoration: none;
	font-weight: 600;
}


.payment-status-container{
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-family: 'Gilroy', sans-serif;
}

.payment-status-container h3{
	font-size: 2rem;
	color: #4588EC;
	margin-top: 1rem;
	font-family: 'Gilroy', sans-serif;
}
.payment-status-container small span{
	font-weight: 500;
	color: #4588EC;
}
.payment-status-container img{
	width: 120px;
}

@media (max-width : 1024px) {
	header .header-div {
		padding-left: 32px;
		padding-right: 32px;
	}

	.jumbotron {
		padding-left: 32px;
		padding-right: 16px;
	}

	.available-courses .pricing-div {
		max-width: 95%;
	}

	.join-our-slack .join-our-slack-grid {
		padding-left: 32px;
		padding-right: 32px;
	}

	.about-us {
		padding-left: 32px;
		padding-right: 32px;
	}

	.about-us-grid {
		flex-wrap: wrap;
	}
	footer .footer-div {
		padding-left: 32px;
		padding-right: 32px;
	}
	.privacy-section{
		width: 70%;
	}
	
}

@media (max-width : 798px) {
	.jumbotron {
		grid-template-columns: 1fr;
	}

	.jumbotron .jumbotron-div2 {
		grid-row: 1;
	}

	.available-courses .pricing-div .prices, .available-courses .pricing-div .excel-prices {
		grid-template-columns: 1fr;
	}

	 .fireside-chat {
		margin-top: 1000px;
		padding-top: 0;
	}

	 .join-our-slack-grid {
		grid-template-columns: 1fr;
	}

	 .join-our-slack-grid .join-our-slack-grid-div1 {
		padding-right: 0;
	}

	 .fireside-chat .join-our-slack-grid .join-our-slack-grid-div1 {
		display: none;
	}

	.join-our-slack .join-our-slack-grid-div2 {
		grid-row: 1;
	}

	.fireside-chat .join-our-slack-grid-div2 {
		grid-row: 1;
		padding:0 2rem;
	}

	.fireside-chat .join-our-slack-grid .join-our-slack-text p{
		width: 80%;
		text-align: left;
	}

	.about-us-grid .about-us-grid-div1 {
		width: 100%;

	}

	.about-us-grid .about-us-grid-div2 {
		width: 100%;
		text-align: right;
	}

	.about-us-grid .about-us-grid-text p {
		margin-left: auto;
	}

	.testimonials .testimonial-card-section>li:first-child {
		margin-left: 0;
		display: none;
	}

	.available-courses .pricing-div .prices>div .plan-banner , .available-courses .pricing-div .excel-prices>div .plan-banner{
		color: rgba(255, 255, 255, 0.1);
		bottom: calc(50px + 16px + 36px);
	}

	.available-courses .pricing-div .prices>div .start-here , .available-courses .pricing-div .excel-prices>div .start-here{
		display: inline;
		opacity: 1;
		transition: opacity 1s ease;
	}
	.privacy-section{
		width: 80%;
	}
	
}

@media (max-width: 710px) {
	.contact-us .contact-us-grid .contact-us-buttons{
		flex-direction: column;
	}

	.available-courses .pricing-div .excel-prices .price-plan-2 .plan-description{
	width:100%;
	}
}

@media (max-width : 498px) {

	.header-menu {
		display: none;
	}

	.mobile-menu {
		display: block;
		position: relative;
		z-index:100;
	}

	.mobile-menu .burger-menu>div {
		width: 32px;
		height: 4px;
		border-radius: 100px;
		background: #165EC9;
		margin-bottom: 6px;
	}

	.mobile-menu .burger-menu>div:last-child {
		margin-bottom: 0px;
	}

	.mobile-menu ul {
		list-style: none;
		background-color: white;
		box-shadow: 0px 4px 30px 5px rgba(0, 0, 0, 0.04);
		position: absolute;
		transform: translateY(24px);
		top: 100%;
		right: -32px;
		padding: 20px 0;
		height: 100vh;
		width: 50vw;
		text-align: center;
		z-index: 500;
	}

	header .header-div .mobile-menu ul li {
		margin-bottom: 16px;
		padding: 20px;
	}

	header .header-div .mobile-menu ul li span {
		font-family: 'Gilroy', sans-serif;
		font-weight: bold;
		color: #363636;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 0.065em;
		cursor: pointer;
	}

	.info-section {
		z-index: 1;
	}

	.available-courses .pricing-div .sql-or-excel {
		grid-template-columns: 1fr;
		row-gap: 8px;
	}

	.available-courses .pricing-div {
		margin-top: 100px;
		padding: 120px 16px 100px 16px;
	}

	.fireside-chat {
		margin-top: 1100px;
		padding-top: 0;
	}

	.fireside-chat .join-our-slack-grid .join-our-slack-text span::before {
		width: 70%;
	}

	.fireside-chat .join-our-slack-grid .join-our-slack-text p {
		width: 100%;
	}

	.join-our-slack {
		padding-top: 100px;
	}

	.about-us-grid .people-trained {
		grid-template-columns: 1fr;
	}

	.logo-social {
		margin-bottom: 32px;
	}

	.privacy-section{
		width: 85%;
	}

	
footer .footer-div .footer-section2 .copyright {
		font-size: 14px;
	}
	
}