@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,800;1,900&display=swap');


.payment-form-background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(22, 94, 201, 0.15);
    /* z-index: 1000; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    z-index: 1000;
}

.payment-form-background  .close-icon{
    position: absolute;
    right: 50px;
    top: 16px;
}
.payment-form {
    width: 400px;
    border-radius: 8px;
    background: #ffffff;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.25);
    padding: 32px;
}

.payment-form .payment-plan {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-top: 8px;
    text-transform: uppercase;
}
.form-wrapper{
    max-height: 50vh;
    overflow-y: scroll;
}

.payment-form  h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 25px;
	line-height: 101.1%;
	text-align: center;
	letter-spacing: -0.02em;
	color: #4588EC;
    margin-bottom: 20px;
}

.payment-form .payment-desc-div {
    margin-bottom: 24px;
}

.payment-form .input-group{
    font-family: 'Poppins';
}
.payment-form label{
    font-family: 'Poppins';
    font-size: 14px;
}

.payment-form .input-group > input  {
    margin-bottom: 16px;
    font-family: 'Poppins', sans-serif;
    outline: none;
    display: block;
    width: 100%;
    border: none; 
    color: #838383;
    font-size:14px;
    background: #F7F7F7;
    border-radius: 5px;
    padding: 0.5rem 1rem;
}

.payment-form .input-group > textarea  {
    margin-bottom: 16px;
    font-family: 'Poppins', sans-serif;
    outline: none;
    display: block;
    width: 100%;
    border: none; 
    color: #838383;
    font-size:14px;
    background: #F7F7F7;
    border-radius: 5px;
    padding: 0.5rem 1rem;
}

.payment-form  input::placeholder{
    color: #838383;
    font-size:14px;
}

.payment-form .schedule-label{
    display:block;
    margin-bottom: 1rem;
}

.payment-form .radio-group{
    margin-bottom: 1.5rem;
}

.payment-form .radio-group .scheduled{
    margin-right: 28px;
}

.payment-form .radio-label{
    background: #F7F7F7;
    border: 0.1px solid #999999;
    border-radius: 5px;
    padding:0.3rem 0.5rem;
    color: #555555;
}

.payment-form .scheduled-times {
    display:grid;
    justify-content: start;
    width:100%;
    grid-template-columns: auto auto;
    grid-gap: 15px 40px;
    margin:1rem 0;
}

.payment-form .scheduled-time-card{
    background: #FFFFFF;
    border: 0.479452px solid #EFEFEF;
    box-shadow: 0px 1.91781px 7.19178px 2.87671px rgba(0, 0, 0, 0.05);
    border-radius: 4.5px;
    padding: 0.3rem;
    display: flex;
    min-width: 120px;
    gap: 8px;
    align-items:center;
    cursor: pointer;
}

.payment-form .scheduled-time-card .date-time h5{
    color: #606060;
    font-weight: 700;
    font-size: 13px;
    margin-bottom: -9px;
}

.payment-form .scheduled-time-card .date-time small{
   color: #88879C;
    font-weight: 400;
    font-size: 10px;

}

.payment-form .payment-dropdown {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

.payment-form .payment-dropdown .selected-text{
    background: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 500;
    border: 1px solid #4588EC;
}

.payment-form .payment-dropdown .selected-text span {
    padding: 8px 16px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #4588EC;
}

.payment-form .payment-dropdown .selected-text .dropdown-icon {
    width: 36px;
    border-left: solid 1px #4588EC;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.payment-form .payment-dropdown .dropdown-list {
    width: 100%;
    background: #ffffff;
}

.payment-form .payment-dropdown .dropdown-list  span {
    padding: 4px 16px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    display: block;
    color: #4588EC;
}

.payment-form .payment-dropdown .dropdown-list  span:hover {
    background-color: #4588EC;
    color: white;
}


.payment-form .register-button {
    margin-top: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background: #4588EC;
    color: white;
    font-size: 18px;
    padding: 0.7rem 1rem;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 100%;
}

.payment-form .register-button.loading-button {
    padding:.3rem 1rem;
}

.payment-form .register-button:disabled {
    background-color: skyblue;
    cursor: not-allowed;
}

.payment-form .close-button {
    margin-top: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background: #4588EC;
    color: white;
    font-size: 18px;
    padding: 0.7rem 1rem;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 100%;
}

.payment-form .close-button1 {
    margin-top: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background: #e65a5a ;
    color: white;
    font-size: 18px;
    padding: 0.7rem 1rem;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 100%;
}
